<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python34\python.exe|C:\Users\zhen\mysite1\mysite\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
